Please follow the questions sequence on your quiz interface and fill in the corresponding answer.

##Quiz 1

In [1]:
#Q1 code goes here
a,b= 1,0
a=a^b
b=a^b
a=a^b
print(a)

0

In [2]:
#Q2 code goes here
a =2**2**3*1
print (a)

256

In [ ]:
#Q3 code goes here
#......

In [ ]:
#Q4 code goes here

In [3]:
s1 = {'Alex', 2, 3}
s2 = {3, 4, 5, 'Alix'}
s1 | s2

{2, 3, 4, 5, 'Alex', 'Alix'}

In [4]:
#Q5 code goes here
scores ={'Mohammad' : 97 , 'Ahmad' : 98}
if scores ['Mohammad'] >97:
     print('scolar')
elif scores ['Ahmad'] >97 :
     print('Topper')
elif scores ['Alex'] >97 :
           print('Teacher')
else:
   print('Nobody topped')

Topper

In [5]:
#Q6 code goes here
L =['one' , 'two' , 'three' , 4]
L+='five'

In [6]:
#Q7 code goes here
from random import randint
for i in range(5,15,5):
    print(randint(1, 5))

5
4

In [7]:
#Q8 code goes here
def func(a,b,c,d=1):
  return d**(a*25)

In [8]:
#Q9 code goes here
L = list()
L.append([1,2,[3,4]])
L.extend([5,6,7])
L.insert(0 ,['hello'])
print(L)

[['hello'], [1, 2, [3, 4]], 5, 6, 7]

In [11]:
#Q0 code goes here
i=12
while i > 0 :
  i-=3
  print('o')
if i<=2:
    break
else:
      print('o')

o
o
o
o

SyntaxError: ignored

In [14]:
#Q11 code goes here
s={1, 2, 3} & {4, 5, 6}
print(s)

set()

In [ ]:
#Q12 code goes here
#......